/*
 * Navigation  and Footers
 */

nav, footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

nav {
    padding: 0 0 1% 0;
    border-bottom: 1px solid #d5d5d5;
}

nav a {
    font-weight: bold;
    text-decoration: none !important;
}

footer {
    border-top: 1px solid #d5d5d5;
    position: relative;
    bottom: 0;
    padding: 2% 0 1% 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: .8em;
}

footer a {
    text-decoration: none !important;
}

nav ul li {
    list-style-type: none;
}

.breadcrumb ul {
    display: flex;
}
    
.breadcrumb li::before {
    content: " → ";
}
    
.breadcrumb li:first-child::before {
    content: "";
}

/*
 * Body Related CSS
 */

body {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    display: flex;
    line-height: 32px;
    min-height: 90vh;
    flex-direction: column;
    margin-bottom: 1em;
    padding: 3% 15% 1% 15%;
}

#main_div {
    flex: 1;
    align-self: center;
}

#main_div a {
    text-decoration: none;
    color: rgb(0, 174, 255);
    border-bottom: rgb(24, 179, 179) solid thin;
    padding: 0 0 2px 0;
}

#main_div a:hover {
    border-bottom: rgb(24, 179, 179) solid thick;
}

#main_div a:visited {
    border-bottom: rgb(129, 129, 129) solid medium;
}

.post h1, .post h2 {
    font-size: 1.2em;
}

/*
 * Content specific CSS
 */

ul.posts { 
    margin: 20px auto 40px;
}

ul.posts li {
    list-style: none;
}

.container {
    padding: 2%;
}

.meta {
    font-size: x-small;
    font-style: italic;
    color: gray;
}

.notebook {
    line-height: 24px;
}

blockquote {
    border-left: rgb(24, 179, 179) solid thick;
    border-right: rgb(24, 179, 179) solid thick;
    border-top: rgb(24, 179, 179) solid thin;
    border-bottom: rgb(24, 179, 179) solid thin;
    padding: 1%;
}

.banner {
    width: 100%;
    border: rgb(0, 127, 185) solid thin;
    border-radius: 5px;
    background-color: rgb(0, 174, 255);
    text-align: center;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

section {
    padding: 3% 0%;
}

section:not(:last-child) {
    border-bottom: #f2f2f2 solid thin;
}