/*
 * Navigation  and Footers
 */
nav a {
    margin: 1% 10%;
    font-weight: bold;
    text-decoration: none;
}

footer {
    border-top: 1px solid #d5d5d5;
    position: absolute;
    bottom: 0;
    width: 70%;
    padding: 3% 1%;
    font-size: .8em;
}

footer a {
    margin: 1% 10%;
    text-decoration: none;
}

/*
 * Body Related CSS
 */

body {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 60px auto;
    width: 70%;
}

/*
 * Content specific CSS
 */

ul.posts { 
    margin: 20px auto 40px;
}

ul.posts li {
    list-style: none;
}

.container {
    padding: 2%;
}