/*******************************************************************************
 * CSS for the Search page
 ******************************************************************************/

div#searchQuery {
    width: 95%;
    padding: 2%;
    border-radius: 5px;
    border: rgb(24, 179, 179) solid thin;
    font-weight: lighter;
    min-height: 30px;
}

div#searchQuery:focus {
    /** h-offset v-offset blur spread color */
    box-shadow: 0px 0px 2px 1px rgb(24, 179, 179);
}

div#searchResults {
    margin-top: 2%;
}

.search-hit {
    background-color: yellow;
}

.snippet {
    font-size: smaller;
}
