--- 
layout: default 
---

<style>
    img {
        max-width:100%;
        height:auto;
    }

    #comic_links {
        display: flex;
        flex-direction: row;
        justify-content: space-between
    }

    #comic_links button {
        font-size: x-large;
        border: none;
        background-color: inherit;
    }

    #comic_links button:hover {
        cursor: pointer;
        text-decoration: underline;
    }


</style>

{% assign image_files = site.static_files | where: "image", true %}

<br />
<div id="comic_links">
    <button onclick="document.location = 1">Oldest</button>
    <button onclick="fetchPreviousComic();" >&#8666;</button>
    <button onclick="document.location = Math.floor(Math.random() * ({{image_files.size}})) + 1;">Random</button>
    <button onclick="fetchNextComic();">&#8667;</button>
    <button onclick="document.location = {{image_files.size}};">Newest</button>
</div>

<script>
    let currentURLParts = document.location.href.split('/');
    let comicNum = currentURLParts[currentURLParts.length - 1];

    function fetchPreviousComic() {
        if (!isNan(comicNum) && comicNum - 1 >= 1) document.location = comicNum - 1;
    }

    function fetchNextComic() {
        if (!isNan(comicNum) && comicNum + 1 <= {{image_files.size}}) document.location = comicNum + 1;
    }

</script>

<div class="comic_strip">
    {{ content }}
</div>

