<!DOCTYPE html>
<html>

    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    
    <style>
        body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>

    <body>
        
        <!-- Navbar -->
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
          
        </div>

        <div class="container">

            {{ content }}

        </div>

        <footer class="w3-container w3-padding-small w3-bar">
            <a href="mailto:d.chege711@gmail.com" class="w3-bar-item w3-padding-small">Email</a>
            <a href="http://dchege711.github.io/blog/atom.xml" class="w3-bar-item w3-padding-small">RSS Feed</a>            
        </footer>

    </body>

</html>
