<!DOCTYPE html>
<html>

    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <link rel="shortcut icon" href="/assets/favicon.ico">
    </head>

    <body>
        
        <!-- Navbar -->
        <nav>
            <a href="/">My Stuff</a>
            <a href="/blog">Blog</a>
            <a href="/notebooks/">Notebooks</a>
        </nav>

        <div class="container" id="main_div">

            {{ content }}

        </div>

        <footer>
            <a href="mailto:d.chege711@gmail.com">Email</a>
            <a href="http://www.c13u.com/blog/atom.xml">RSS Feed</a>
            <a href="/about">About</a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><sup><sup>What is this?</sup></sup></a>           
        </footer>

    </body>

</html>
